In [1]:
import pandas as pd

In [2]:
Raw = pd.read_csv('data/sample.csv')
Raw[]

       seller       buyer   sales  year industry
0    Seller 1  Government  100000  2019   Type A
1    Seller 2      Market   50000  2019   Type B
2    Seller 3     Company   75000  2019   Type C
3    Seller 4       Other   25000  2019   Type D
4    Seller 5  Government  200000  2019   Type E
5    Seller 6      Market  150000  2019   Type A
6    Seller 7     Company  175000  2019   Type B
7    Seller 8       Other  125000  2019   Type C
8    Seller 9  Government  300000  2019   Type D
9   Seller 10      Market  250000  2019   Type E
10  Seller 11     Company  275000  2019   Type A
11  Seller 12       Other  225000  2019   Type B
12  Seller 13  Government  400000  2019   Type C
13  Seller 14      Market  350000  2019   Type D
14  Seller 15     Company  375000  2019   Type E
15  Seller 16       Other  325000  2019   Type A
16  Seller 17  Government  500000  2019   Type B
17  Seller 18      Market  450000  2019   Type C
18  Seller 19     Company  475000  2019   Type D
19  Seller 20       Other  425000  2019   Type E
20   Seller 1  Government  150000  2022   Type A
21   Seller 2      Market  100000  2022   Type B
22   Seller 3     Company  125000  2022   Type C
23   Seller 4       Other   75000  2022   Type D
24   Seller 5  Government  300000  2022   Type E
25   Seller 6      Market  250000  2022   Type A
26   Seller 7     Company  275000  2022   Type B
27   Seller 8       Other  225000  2022   Type C
28   Seller 9  Government  450000  2022   Type D
29  Seller 10      Market  400000  2022   Type E
30  Seller 11     Company  425000  2022   Type A
31  Seller 12       Other  375000  2022   Type B
32  Seller 13  Government  600000  2022   Type C
33  Seller 14      Market  550000  2022   Type D
34  Seller 15     Company  575000  2022   Type E
35  Seller 16       Other  525000  2022   Type A
36  Seller 17  Government  750000  2022   Type B
37  Seller 18      Market  700000  2022   Type C
38  Seller 19     Company  725000  2022   Type D
39  Seller 20       Other  675000  2022   Type E

In [3]:
#data = raw.groupby(['buyer','seller','year'])['sales'].sum()
Data['total_sales'] = Raw.groupby(['buyer','seller','year'])['sales'].transform(sum)
Data

       seller       buyer   sales  year industry  total_sales
0    Seller 1  Government  100000  2019   Type A       100000
1    Seller 2      Market   50000  2019   Type B        50000
2    Seller 3     Company   75000  2019   Type C        75000
3    Seller 4       Other   25000  2019   Type D        25000
4    Seller 5  Government  200000  2019   Type E       200000
5    Seller 6      Market  150000  2019   Type A       150000
6    Seller 7     Company  175000  2019   Type B       175000
7    Seller 8       Other  125000  2019   Type C       125000
8    Seller 9  Government  300000  2019   Type D       300000
9   Seller 10      Market  250000  2019   Type E       250000
10  Seller 11     Company  275000  2019   Type A       275000
11  Seller 12       Other  225000  2019   Type B       225000
12  Seller 13  Government  400000  2019   Type C       400000
13  Seller 14      Market  350000  2019   Type D       350000
14  Seller 15     Company  375000  2019   Type E       375000
15  Seller 16       Other  325000  2019   Type A       325000
16  Seller 17  Government  500000  2019   Type B       500000
17  Seller 18      Market  450000  2019   Type C       450000
18  Seller 19     Company  475000  2019   Type D       475000
19  Seller 20       Other  425000  2019   Type E       425000
20   Seller 1  Government  150000  2022   Type A       150000
21   Seller 2      Market  100000  2022   Type B       100000
22   Seller 3     Company  125000  2022   Type C       125000
23   Seller 4       Other   75000  2022   Type D        75000
24   Seller 5  Government  300000  2022   Type E       300000
25   Seller 6      Market  250000  2022   Type A       250000
26   Seller 7     Company  275000  2022   Type B       275000
27   Seller 8       Other  225000  2022   Type C       225000
28   Seller 9  Government  450000  2022   Type D       450000
29  Seller 10      Market  400000  2022   Type E       400000
30  Seller 11     Company  425000  2022   Type A       425000
31  Seller 12       Other  375000  2022   Type B       375000
32  Seller 13  Government  600000  2022   Type C       600000
33  Seller 14      Market  550000  2022   Type D       550000
34  Seller 15     Company  575000  2022   Type E       575000
35  Seller 16       Other  525000  2022   Type A       525000
36  Seller 17  Government  750000  2022   Type B       750000
37  Seller 18      Market  700000  2022   Type C       700000
38  Seller 19     Company  725000  2022   Type D       725000
39  Seller 20       Other  675000  2022   Type E       675000