In [15]:
import pandas as pd

In [16]:
raw = pd.read_csv('data/merge.csv')
raw

,zoo,gvkey,cid,cnms,ctype,gareac,gareat,salecs,sid,stype,...,cusip,CIK,sic,Symbol,Security,GICS Sector,GICS Sub-Industry,Headquarters Location,Date added,Founded
0,0,1075,22,Retail non-residential electric service,MARKET,NaN,NaN,1509.514,9,BUSSEG,...,723484101,764622.0,4911,PNW,Pinnacle West,Utilities,Multi-Utilities,"Phoenix, Arizona",1999-10-04,1985
1,1,1075,21,Retail residential electric service,MARKET,NaN,NaN,1761.122,9,BUSSEG,...,723484101,764622.0,4911,PNW,Pinnacle West,Utilities,Multi-Utilities,"Phoenix, Arizona",1999-10-04,1985
2,2,1075,23,Wholesale energy sales,MARKET,NaN,NaN,121.805,9,BUSSEG,...,723484101,764622.0,4911,PNW,Pinnacle West,Utilities,Multi-Utilities,"Phoenix, Arizona",1999-10-04,1985
3,3,1075,25,Other sources,MARKET,NaN,NaN,16.308,9,BUSSEG,...,723484101,764622.0,4911,PNW,Pinnacle West,Utilities,Multi-Utilities,"Phoenix, Arizona",1999-10-04,1985
4,4,1075,24,Transmission services for others,MARKET,NaN,NaN,62.460,9,BUSSEG,...,723484101,764622.0,4911,PNW,Pinnacle West,Utilities,Multi-Utilities,"Phoenix, Arizona",1999-10-04,1985
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9104,9104,316056,3,10 Customers,COMPANY,NaN,NaN,656.420,1,BUSSEG,...,G0176J109,1579241.0,3420,ALLE,Allegion,Industrials,Building Products,"New York City, New York",2013-12-02,1908
9105,9105,316056,8,Non-U.S.,GEOREG,OTHER,REG,814.400,1,BUSSEG,...,G0176J109,1579241.0,3420,ALLE,Allegion,Industrials,Building Products,"New York City, New York",2013-12-02,1908
9106,9106,316056,4,United States,GEOREG,USA,ISO,1905.500,1,BUSSEG,...,G0176J109,1579241.0,3420,ALLE,Allegion,Industrials,Building Products,"New York City, New York",2013-12-02,1908
9107,9107,316056,3,10 Customers,COMPANY,NaN,NaN,652.776,1,BUSSEG,...,G0176J109,1579241.0,3420,ALLE,Allegion,Industrials,Building Products,"New York City, New York",2013-12-02,1908
9108,9108,316056,3,10 Customers,COMPANY,NaN,NaN,716.850,0,NaN,...,G0176J109,1579241.0,3420,ALLE,Allegion,Industrials,Building Products,"New York City, New York",2013-12-02,1908

In [ ]:
raw.columns

Index(['zoo', 'gvkey', 'cid', 'cnms', 'ctype', 'gareac', 'gareat', 'salecs',
       'sid', 'stype', 'srcdate', 'conm', 'tic', 'cusip', 'CIK', 'sic',
       'Symbol', 'Security', 'GICS Sector', 'GICS Sub-Industry',
       'Headquarters Location', 'Date added', 'Founded'],
      dtype='object')

In [24]:
data['total_sales'] = raw.groupby(['CIK','ctype','scrdate'])['salecs'].transform(sum)
data

KeyError: 'scrdate'