# Sample Data Needed

## the matching list

In [3]:
import pandas as pd

buyers = ['Walmart', 'Target', 'Costco','Walmart']
sellers = ['Cheese Store','Towel Company','Food Suppier','Food Suppier']

table = pd.DataFrame(buyers,sellers).reset_index()
table

           index        0
0   Cheese Store  Walmart
1  Towel Company   Target
2   Food Suppier   Costco
3   Food Suppier  Walmart

In [17]:
Table = pd.DataFrame({"Buy": ['Walmart', 'Target', 'Costco','Walmart'],
"Sell": ['Cheese Store','Towel Company','Food Suppier','Food Suppier']})
Table

       Buy           Sell
0  Walmart   Cheese Store
1   Target  Towel Company
2   Costco   Food Suppier
3  Walmart   Food Suppier

In [42]:
pd.pivot_table(Table, index='Buy', values='Sell', aggfunc=list)
# Table.sort_values(ascending='Buy')

# Table.groupby('Buy')['Sell']
# Table.groupby('Buy')['Sell'].apply(list)
# Table.groupby('Buy').agg({'sell':lambda x: list(x)})

                                 Sell
Buy
Costco                 [Food Suppier]
Target                [Towel Company]
Walmart  [Cheese Store, Food Suppier]

## the company info

In [39]:
CInfo = pd.DataFrame({"Company": ['Walmart', 'Target', 'Costco','Wegmans'],
"Profit": ['1M','10M','2B','3M'],
"Growth": ['3%', '5%', '3%','11%'],})
CInfo

   Company Profit Growth
0  Walmart     1M     3%
1   Target    10M     5%
2   Costco     2B     3%
3  Wegmans     3M    11%